.footer__link {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
  height: 18px;
  transition: opacity 0.5s ease;
}

.footer__link:hover {
  opacity: 80%;
}

.footer__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__link {
    display: block; 
    margin-top: 32px;
    font-size: 24px;
    height: 24px;
  }

  .footer__link:first-of-type {
    margin-top: 0;
  }
}
