.cover__overlay {
  display: block;
  width: inherit;
  height: inherit;
  max-height: 740px;
  background-color: rgba(42, 44, 47, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 4s ease-out 0.2s;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}