.cover__background {
  display: block;
  min-height: calc(100vw / 1.6);
  background-image: url(./../../../images/cover/DoBaykala.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .cover__background {
    min-height: 740px;
  }
}
