.cover__title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  width: 560px;
  text-align: center;
  padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: calc(288px + (100vw - 320px) * (272 / 448));
    font-size: calc(32px + (100vw - 320px) * (40 / 448));
    line-height: calc(35px + (100vw - 320px) * (41 / 448));
    font-weight: 900;
    padding-bottom: 16px;
  }
}