.places__url-heading {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
}
